@import 'directives/mixins';
@import 'directives/extenders';
@import 'directives/variables';
@import 'navigation';
@import 'page-layout';


//===================================================
//keyframes
//===================================================
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@keyframes pulse {
  0% {
    @include grayscale(0%);
  }
  100% {
    @include grayscale(100%);
  }
}
	

//===================================================
//Body
//===================================================


body{
	background-color: $backgroundColor;
	color: $secondaryColor;	
	margin: 0;
    padding: 0;
}

#content{
	@include animation(fadeIn .5s);
	padding: 20px 50px 0px;



//================================================
//pages
//================================================

	#pageOne{
		margin-top: 100px;
		#fullInfo{
			margin: 0 auto;
			@include heightWidth(300px, 300px);
			border: 5px solid $secondaryColor;
			border-radius: 100%;
			
			@media screen and (max-width: $smallScreen){
				position: relative;
				top: 60px;
				right: 10px;
			}
		}

		#mainInfo{
			@include heightWidth(50px, 200px);	
			margin: 0 auto;
		}

		.git-in{
			@include heightWidth(35px, 35px);
			margin: 0 auto;
			display: inline;
		}

		#git{
			margin: 0px 55px 0px 30px;
		}
	}

	#pageTwo{
		width: 100%;

		#page-two-section{ 
			display: block;
			padding-left: 9%;
		

			.skillbox{
				@include heightWidth(150px, 150px);
				@include transition(border-radius .5s);
				@include animation(pulse 1s infinite);
				animation-direction: alternate;
				@include grayscale(100%);
				border: 5px solid $backgroundColor;
				margin: 1% 6.5% 1%;

				@media all and (max-width: $midScreen){
					margin: 1% 3.5% 1%;
				}

				@media all and ( max-width: $smallScreen){
					@include heightWidth(100px, 100px);
					margin: 1% 2% 1%;
				}

			}
		}
	}

	#pageFour{
		#me{
			@include grayscale(100%);
		}
		
		.info-section-buttons {
			@extend .buttons;
			@include transition( background-color .5s );
			float: left;
			width: 31%;
			margin: 0% 1% 0%;
			background: $backgroundColor;
			color: $secondaryColor;
			z-index: 100;

			&:hover {
				background: $secondaryColor;
				color: $backgroundColor;
			}

			@media screen and ( max-width: $smallScreen) {

				padding: 0px 5px 0px;
				font-size: $fontSizeSmall;
			}	
		}

		.info-sections {
			z-index: 9;
			position: relative;
			top: 65px;
		}
	}
}



