@import '../../scss/mixins';
@import '../../scss/extenders';
@import '../../scss/variables';

//=============================================
//Navigation
//=============================================
#navigation{ 
	padding-left: 37px;
	margin: 0 auto;
	@include heightWidth(50px, 600px);

	#home-button{
		@extend .buttons;
		@include transition(background-color .5s);
		position: relative;
		margin: 20px 20px 0px;
		padding: 5px 30px 5px;
		
		top: 100px;
		left: 215px;
		visibility: hidden;
		background-color: $backgroundColor;
		color: $fontColor;

		&:hover{
			background-color: $fontColor;
			color: $backgroundColor;
		}

		@media screen and(max-width: $smallScreen){
			left: 20px;
			top: 150px;
		}
	}

	.nav-buttons{
		@include transition(background-color .5s);
		@include transition(color .5s);
		@include heightWidth(125px, 125px);	
		@extend .circle-buttons;

		background-color: $backgroundColor;
		color: $fontColor;
		position: relative;

		&:hover{
			color: $backgroundColor;
		}

		@media screen and (max-width: $smallScreen){
			@include heightWidth(100px, 100px);
		}

	}

	#about-me{
		@include transition(all .5s);
		top: 70px;
		right: 75px;
		&:hover{
			background-color: $aboutMe!important;;
		}

		@media screen and (max-width: $smallScreen){
			top: 80px;
			left: -72px;
		}
	}

	#skills{
		@include transition(all .5s);
		top: 0px;
		right: 45px;

		&:hover{
			background-color: $skills!important;;
		}

		@media screen and (max-width: $smallScreen){
			left: 34px;
			top: -70px;

		}
	}

	#projects{
		@include transition(all .5s);
		top: 70px;
		right: 8px;
		&:hover{
			background-color: $projects!important;;
		}

		@media screen and (max-width: $smallScreen){
			top: -120px;
			left: 139px;
		}
	}

	@media screen and (max-width: $smallScreen){
		@include heightWidth(50px, 200px);
	}
}

//=============
//active button
//=============
.active-button{ 
	li{
		color: $backgroundColor;
	}
}
