.generalLi {
    list-style: none;
}

.generalUl {
    padding: 0;
    margin: 0;
}

.project-buttons {
    background-color: transparent;
    color: #c9c5be;
    border: 2px solid #c9c5be;
    border-radius: 5px;
    height: 50px;
    font-size: 25px;
    transition: background-color .5s, color .5s;
    -moz-transition: background-color .5s, color .5s;
    -webkit-transition: background-color .5s, color .5s;
}

.project-buttons:hover {
    color: #1c1e21;
    background-color: #c9c5be; 
}

.circle-buttons,
#navigation .nav-buttons {
    border: 5px solid #c9c5be;
    border-radius: 100%;
    text-align: center;
}

.buttons,
#navigation #home-button,
#content #pageFour .info-section-buttons {
    text-align: center;
    border: 1px solid #c9c5be;
    border-radius: 5px;
}

.enter-left-to-right {
    animation: leftToRight 1s;
}

.enter-left-to-right {
    animation: RightToLeft 1s;
}

.generalLi {
    list-style: none;
}

.generalUl {
    padding: 0;
    margin: 0;
}

#languages-container, #frameworks-container{
  display: flex;
  align-items: center;
  justify-content: center;   
  flex-wrap: wrap; 
}

.circle-buttons,
#navigation .nav-buttons {
    border: 5px solid #c9c5be;
    border-radius: 100%;
    text-align: center;
}

.buttons,
#navigation #home-button,
#content #pageFour .info-section-buttons {
    text-align: center;
    border: 1px solid #c9c5be;
    border-radius: 5px;
}

.enter-left-to-right {
    animation: leftToRight 1s;
}

.enter-left-to-right {
    animation: RightToLeft 1s;
}

#navigation {
    padding-left: 37px;
    margin: 0 auto;
    height: 50px;
    width: 600px;
}

#navigation #home-button {
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    position: relative;
    margin: 20px 20px 0;
    padding: 5px 30px 5px;
    top: 100px;
    left: 215px;
    visibility: hidden;
    background-color: #1c1e21;
    color: #c9c5be;
}

#navigation #home-button:hover {
    background-color: #e3dccf;
    color: #1c1e21;
}



#navigation .nav-buttons {
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    transition: color .5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
    height: 125px;
    width: 125px;
    background-color: #1c1e21;
    color: #c9c5be;
    position: relative;
}

#navigation .nav-buttons:hover {
    color: #1c1e21;
}

#navigation #about-me {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    top: 70px;
    right: 75px;
}

#navigation #about-me:hover {
    background-color: #1072b8 !important
}


#navigation #skills {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    top: 0;
    right: 45px;
}

#navigation #skills:hover {
    background-color: #e44d26 !important
}

#navigation #projects {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    top: 70px;
    right: 8px;
}

#navigation #projects:hover {
    background-color: #82329F !important;
}

.active-button li {
    color: #1c1e21;
}

.generalLi {
    list-style: none;
}

.generalUl {
    padding: 0;
    margin: 0;
}

.circle-buttons,
#navigation .nav-buttons {
    border: 5px solid #c9c5be;
    border-radius: 100%;
    text-align: center;
}

.buttons,
#navigation #home-button,
#content #pageFour .info-section-buttons {
    text-align: center;
    border: 1px solid #c9c5be;
    border-radius: 5px;
}

.enter-left-to-right {
    animation: leftToRight 1s;
}

.enter-left-to-right {
    animation: RightToLeft 1s;
}

.info-sections {
    display: none;
}

.info-sections .history-line {
    position: absolute;
    width: 50%;
    min-height: 100%;
    border-right: 1px dashed #c9c5be;
    clear: both;
}

.info-sections .history-events {
    min-height: 100%;
    display: block;
}

.info-sections .history-events #history-events-list {
    overflow: hidden;
    position: relative;
}

.info-sections .history-events #history-events-list li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 40%;
    height: 100px;
    margin: 6%;
    list-style: none;
}

.history-div-triangles {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    align-content: center;
    width: 15%;
}

.history-div-text {
    width: 85%;
    vertical-align: middle;
}

.history-triangles { 
    width: 100%;
    height: 50%;
}

.history-text {
    width: 100%;
    height: 100%;   
}

.history-div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}

.info-sections .history-events #history-events-list li:nth-child(even) {
    transition: transform 1s;
    transform: translateX(-170%)
}

.info-sections .history-events #history-events-list li:nth-child(odd) {
    transition: transform 1s;
    transform: translateX(250%);
}

.info-sections .coding-events-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.info-sections .coding-events-list li {
    list-style: none;
}

.event-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.event-box img {
    width: 90%;
    width: 300px
    height: 25%;
    height: 200px;

}

.info-sections .coding-events-list .coding-events-images {
    width: 380px;
    width: 70%;
    max-height: 200px;
    max-height: 50%;
    margin: 1%;
}

.info-sections .activities-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.info-sections .activities-container .activity-image-container {
    position: relative;
    min-height: 250px;
    width: 33%;
    border: 1px solid #c9c5be;
}

.info-sections .activities-container .activity-image-container .activity-images {
    position: absolute;
    height: 100%;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
    background: #1c1e21;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.info-sections .activities-container .activity-image-container .activity-images p {
    text-align: center;
}

.info-sections .activities-container .activity-image-container .activity-images img {
    width: 100%;
    height: 100%;
}

.info-sections .activities-container .activity-image-container .activity-image-first {
    -webkit-opacity: 100;
    -moz-opacity: 100;
    -o-opacity: 100;
    opacity: 100;
}

.info-sections .activities-container .activity-image-container .activity-image-second {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
}

.info-sections .activities-container .activity-image-container:hover .activity-image-first {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
}

.info-sections .activities-container .activity-image-container:hover .activity-image-second {
    -webkit-opacity: 100;
    -moz-opacity: 100;
    -o-opacity: 100;
    opacity: 100;
    z-index: 1;
}

.info-sections #end-of-history {
    opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.pages {
    width: 100%;
    margin: 0 auto;
    display: none;
    margin-top: 150px;
}

.active {
    display: block;
    height: 100%;
    animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
}

.active-page-button {
    background: #c9c5be !important;
    color: #1c1e21 !important;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border: #1c1e21 solid px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    z-index: 999;
}

body {
    background-color: #1c1e21;
    color: #c9c5be;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}

.pages h2 {
    text-align: center;
    text-decoration: underline;
}

.pages h3 {
    text-align: center;
}

#content {
    animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    padding: 20px 50px 0;
}

#content #pageOne {
    margin-top: 100px;
}

#content #pageOne #fullInfo {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border: 5px solid #c9c5be;
    border-radius: 100%;
}

#content #pageOne #mainInfo {
    position: relative;
    height: 50px;
    width: 200px;
    margin: 0 auto;
}

#content #pageOne .git-in {
    height: 35px;
    width: 35px;
    margin: 0 auto;
    display: inline;
}

#content #pageOne #git {
    margin: 0 55px 0 30px;
}

#content #pageTwo {
    width: 100%;
}

#content #pageTwo #page-two-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: : stretch;
}

.all-skill-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.outer-skill-container {
    width: 33%; 
    -webkit-flex-direction: column;
    flex-direction: column;
    border: 5px solid #c9c5be;
    border-radius: 5px;
    margin: 1% auto;
}

.inner-skill-container {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.skillbox {
    transition: border-radius .5s;
    -moz-transition: border-radius .5s;
    -webkit-transition: border-radius .5s;
    width: 80px;
    width: 20%;
    height: 45%; 
    margin: 1% 6.5% 1%;
}

#content #pageFour #me {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#content #pageFour .info-section-buttons {
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    float: left;
    width: 31%;
    margin: 0 1% 0;
    background: #1c1e21;
    color: #c9c5be;
    z-index: 100;
}

#content #pageFour .info-section-buttons:hover {
    background: #e3dccf;
    color: #1c1e21;
}

#content #pageFour .info-sections {
    z-index: 9;
    position: relative;
    clear: both;
    padding-top: 20px;
}

.generalLi {
    list-style: none;
}

.generalUl {
    padding: 0;
    margin: 0;
}

.circle-buttons {
    border: 5px solid #c9c5be;
    border-radius: 100%;
    text-align: center;
}

.buttons {
    text-align: center;
    border: 1px solid #c9c5be;
    border-radius: 5px;
}

.enter-left-to-right {
    animation: leftToRight 1s;
}

.enter-left-to-right {
    animation: RightToLeft 1s;
}

@media all and (max-width:750px) {
    #navigation .nav-buttons {
        height: 100px;
        width: 100px;
    }
    
    #navigation #home-button {
        left: 20px;
        top: 150px;
    }  

    #navigation #about-me {
        top: 80px;
        left: -72px;
    }

    #navigation #skills {
        left: 34px;
        top: -70px;
    }

    #navigation #projects {
        top: -120px;
        left: 139px;
    }

    #navigation {
        height: 50px;
        width: 200px;
    }   
    
    .info-sections .history-events #history-events-list li {
        font-size: 10px;
    } 

    .info-sections .activities-container .activity-image-container {
        width: 100%;
        flex-direction: column;
    }

    #content #pageOne #fullInfo {
        position: relative;
        top: 60px;
        width: 200px;
        height: 200px;
    }
    
    #content #pageOne #mainInfo {
        bottom: 40px;
    }

    #content #pageOne #git {
        margin: 0 10px 0 55px;
    }

    .skillbox {
        margin: 1% 3.5% 1%;
        width: 45px;
        width: 15%;
        height: 50px;
        height: 25%;
    } 

    #content #pageFour .info-section-buttons h3 {
        font-size: 8px;
    }

    #content #pageTwo #page-two-section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #content #pageFour .info-section-buttons {
        padding: 0 5px 0;
        font-size: 10px;
    }

    .info-sections .coding-events-list .coding-events-images {
        width: 250px;
        width: 60%;
    }

    .outer-skill-container {
        width: 300px;
        width: 90%;
        max-height: 250px;
        max-height: 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    100% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes RightToLeft {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(0);
    }
}