//===================================================
//Variables
//===================================================
$smallScreen: 750px;
$midScreen: 970px;
$bigScreen: 1170px;
$fontColor: white;
$backgroundColor: black;

$aboutMe: #1072b8;
$skills: #e44d26;
$projects: #90c53f;

//===================================================
//Mixins
//===================================================

@mixin transition($transition){
	transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
}

@mixin animation($animation){
	animation: $animation;
	-moz-animation: $animation;	
	-webkit-animation: $animation;
	-webkit-animation: $animation;
	
}  	

@mixin grayscale($grayscale){
	-webkit-filter: grayscale($grayscale);
	filter: grayscale($grayscale);
}


@mixin heightWidth($height, $width){
	height: $height;
	width: $width;
}

@mixin center($width){
	width: $width;
	margin: 0 auto;
}

//===================================================
//keyframes
//===================================================
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

//===================================================
//Keyframes
//===================================================

@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
	
//===================================================
//Extenders
//===================================================

.generalLi{
	list-style: none;
}


.generalUl{
	padding: 0px;
	margin: 0px;
}


//===================================================
//Body
//===================================================


body{
	background-color: $backgroundColor;
	color: $fontColor;	
	margin: 0px;
	padding: 0px, 0px, 0px;
	padding: 0px;
}

#content{
	padding: 0px 50px 0px;
}

//=========	
//buttons
//========
.buttons{
	border: none;
	text-align: center;
}



//=========
//Navbar
//=========
#nav{
	background-color: $backgroundColor;
	width: 100%;
	ul{		
		@extend .generalUl;
		margin-bottom: 50px;
	}
	.nav-buttons{
		@extend .buttons;
		background-color: $backgroundColor;
		height: 20px;
		width: 33.333333%;
		@include transition(background-color .5s);
		li{
			color: $fontColor;
			@extend .generalLi;
			@include transition(background-color .5s);
		}	
		&:hover li{
				color:$backgroundColor;
		}
		@media all and (max-width: $smallScreen){
			height: 50px;
		}
	}
	#about-me{
		@include transition(background-color .5s);
		background-color: $aboutMe;
		&:hover{
			background-color: $aboutMe!important;;
		}
	}
	#skills{
		@include transition(background-color .5s);
		&:hover{
			background-color: $skills!important;;
		}
	}
	#projects{
		@include transition(background-color .5s);
		&:hover{
			background-color: $projects!important;;
		}
	}

//=============
//active button
//=============
	.active-button{ 
		li{
			color: $backgroundColor;
		}
	}
}

//========
//page layout
//========
.pages{
	@include center(100%);
	display: none;
}

.active{
	display: inline-block;
	@include animation(fadeIn .5s);
}

#pageOne{
	#mainInfo{
		@include heightWidth(50px, 200px);	
		margin: 0 auto;
	}

	#profile-pic{
		@include heightWidth(200px, 200px);	
		@include grayscale(100%);
		margin: 0 auto;
		display: block;
	}	
	.git-in{
		@include heightWidth(35px, 35px);
		margin: 0 auto;
		display: inline;
	}
	#git{
		margin: 0px 55px 0px 30px;
	}
}

#pageTwo{
	padding-left: 6%;
	width: 100%;
	.skillbox{
		@include heightWidth(150px, 150px);
		@include transition(border-radius .5s);
		@include grayscale(100%);
		border: 5px solid $backgroundColor;
		margin: 1% 6.5% 1%;

		@media all and (max-width: $midScreen){
			margin: 1% 3.5% 1%;
		}

		@media all and (max-width: $smallScreen){
			@include heightWidth(100px, 100px);
			margin: 1% 2% 1%;
		}

		&:hover{
			border-radius: 100%;
			@include grayscale(0%);
		}
	}
}





