.generalLi {
  list-style: none; }

.generalUl {
  padding: 0px;
  margin: 0px; }

.circle-buttons, #content #navigation .nav-buttons {
  border: 5px solid white;
  border-radius: 100%;
  text-align: center; }

.buttons, #content #navigation #home-button {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0; }

#content {
  animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  padding: 20px 50px 0px; }
  #content #navigation {
    padding-left: 37px;
    margin: 0 auto;
    height: 50px;
    width: 600px; }
    #content #navigation #home-button {
      margin: 20px 20px 0px;
      visibility: hidden;
      background-color: black;
      color: white; }
    #content #navigation .nav-buttons {
      transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      transition: color 0.5s;
      -moz-transition: color 0.5s;
      -webkit-transition: color 0.5s;
      height: 125px;
      width: 125px;
      background-color: black;
      color: white;
      position: relative; }
      #content #navigation .nav-buttons:hover {
        color: black; }
      @media screen and (max-width: 750px) {
        #content #navigation .nav-buttons {
          height: 100px;
          width: 100px; } }
    #content #navigation #about-me {
      transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      transition: top 0.5s;
      -moz-transition: top 0.5s;
      -webkit-transition: top 0.5s;
      top: 70px;
      right: 20px; }
      #content #navigation #about-me:hover {
        background-color: #1072b8 !important; }
      @media screen and (max-width: 750px) {
        #content #navigation #about-me {
          top: 125px;
          right: 175px; } }
    #content #navigation #skills {
      transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      transition: top 0.5s;
      -moz-transition: top 0.5s;
      -webkit-transition: top 0.5s;
      top: 0px; }
      #content #navigation #skills:hover {
        background-color: #e44d26 !important; }
      @media screen and (max-width: 750px) {
        #content #navigation #skills {
          left: 34px;
          top: -40px; } }
    #content #navigation #projects {
      transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      transition: top 0.5s;
      -moz-transition: top 0.5s;
      -webkit-transition: top 0.5s;
      top: 70px;
      left: 27px; }
      #content #navigation #projects:hover {
        background-color: #90c53f !important; }
      @media screen and (max-width: 750px) {
        #content #navigation #projects {
          top: -75px;
          left: 152px; } }
    @media screen and (max-width: 750px) {
      #content #navigation {
        height: 50px;
        width: 200px; } }
  #content .active-button li {
    color: black; }
  #content .pages {
    width: 100%;
    margin: 0 auto;
    display: none;
    margin-top: 115px; }
  #content .active {
    display: inline-block;
    animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s; }
  #content .profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 0 auto;
    display: block; }
  #content #pageOne {
    margin-top: 100px; }
    #content #pageOne #fullInfo {
      margin: 0 auto;
      height: 300px;
      width: 300px;
      border: 5px solid white;
      border-radius: 100%; }
      @media screen and (max-width: 750px) {
        #content #pageOne #fullInfo {
          position: relative;
          top: 50px; } }
    #content #pageOne #mainInfo {
      height: 50px;
      width: 200px;
      margin: 0 auto; }
    #content #pageOne .git-in {
      height: 35px;
      width: 35px;
      margin: 0 auto;
      display: inline; }
    #content #pageOne #git {
      margin: 0px 55px 0px 30px; }
  #content #pageTwo {
    padding-left: 6%;
    width: 100%; }
    #content #pageTwo .skillbox {
      height: 150px;
      width: 150px;
      transition: border-radius 0.5s;
      -moz-transition: border-radius 0.5s;
      -webkit-transition: border-radius 0.5s;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      border: 5px solid black;
      margin: 1% 6.5% 1%; }
      @media all and (max-width: 970px) {
        #content #pageTwo .skillbox {
          margin: 1% 3.5% 1%; } }
      @media all and (max-width: 750px) {
        #content #pageTwo .skillbox {
          height: 100px;
          width: 100px;
          margin: 1% 2% 1%; } }
      #content #pageTwo .skillbox:hover {
        border-radius: 100%;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
  #content #pageFour #me {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  @media screen and (max-width: 750px) {
    #content {
      padding: 0px 0px 0px; } }

/*# sourceMappingURL=main.css.map */
