@import '../scss/mixins';
@import '../scss/extenders';
@import '../scss/variables';


//===================================================
//keyframes
//===================================================
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
	

//===================================================
//Body
//===================================================


body{
	background-color: $backgroundColor;
	color: $fontColor;	
	margin: 0;
    padding: 0;
}

#content{
	@include animation(fadeIn .5s);
	padding: 20px 50px 0px;


//=============================================
//Navigation
//=============================================
	#navigation{ 
		padding-left: 37px;
		margin: 0 auto;
		@include heightWidth(50px, 600px);

		#home-button{
			margin: 20px 20px 0px;
			@extend .buttons;
			visibility: hidden;
			background-color: $backgroundColor;
			color: $fontColor;
		}

		.nav-buttons{
			@include transition(background-color .5s);
			@include transition(color .5s);
			@include heightWidth(125px, 125px);	
			@extend .circle-buttons;

			background-color: $backgroundColor;
			color: $fontColor;
			position: relative;
	
			&:hover{
				color: $backgroundColor;
			}

			@media screen and (max-width: $smallScreen){
				@include heightWidth(100px, 100px);
			}

		}

		#about-me{
			@include transition(background-color .5s);
			@include transition(top .5s);
			top: 70px;
			right: 20px;
			&:hover{
				background-color: $aboutMe!important;;
			}

			@media screen and (max-width: $smallScreen){
				top: 125px;
				right: 175px;
			}
		}

		#skills{
			@include transition(background-color .5s);
			@include transition(top .5s);
			top: 0px;

			&:hover{
				background-color: $skills!important;;
			}

			@media screen and (max-width: $smallScreen){
				left: 34px;
				top: -40px;

			}
		}

		#projects{
			@include transition(background-color .5s);
			@include transition(top .5s);
			top: 70px;
			left: 27px;
			&:hover{
				background-color: $projects!important;;
			}

			@media screen and (max-width: $smallScreen){
				top: -75px;
				left: 152px;
			}
		}

		@media screen and (max-width: $smallScreen){
			@include heightWidth(50px, 200px);
		}
	}

	//=============
	//active button
	//=============
	.active-button{ 
		li{
			color: $backgroundColor;
		}
	}


//================================================
//page layout
//================================================

	.pages{
		@include center(100%);
		display: none;
		margin-top: 115px;
	}

	.active{
		display: inline-block;
		@include animation(fadeIn .5s);
	}

	.profile-pic{
		@include heightWidth(200px, 200px);	
		border-radius: 100%;
		margin: 0 auto;
		display: block;
	}	

//================================================
//pages
//================================================

	#pageOne{
		margin-top: 100px;
		#fullInfo{
			margin: 0 auto;
			@include heightWidth(300px, 300px);
			border: 5px solid white;
			border-radius: 100%;
			@media screen and (max-width: $smallScreen){
				position: relative;
				top: 50px;
			}
		}

		#mainInfo{
			@include heightWidth(50px, 200px);	
			margin: 0 auto;
		}

		.git-in{
			@include heightWidth(35px, 35px);
			margin: 0 auto;
			display: inline;
		}

		#git{
			margin: 0px 55px 0px 30px;
		}
	}

	#pageTwo{
		padding-left: 6%;
		width: 100%;
		.skillbox{
			@include heightWidth(150px, 150px);
			@include transition(border-radius .5s);
			@include grayscale(100%);
			border: 5px solid $backgroundColor;
			margin: 1% 6.5% 1%;

			@media all and (max-width: $midScreen){
				margin: 1% 3.5% 1%;
			}

			@media all and (max-width: $smallScreen){
				@include heightWidth(100px, 100px);
				margin: 1% 2% 1%;
			}

			&:hover{
				border-radius: 100%;
				@include grayscale(0%);
			}
		}
	}

	#pageFour{
		#me{
			@include grayscale(100%);
		}
	}
	@media screen and (max-width: $smallScreen){
		padding: 0px 0px 0px;
	}
}



