@import '../scss/mixins';
@import '../scss/extenders';
@import '../scss/variables';
//===================================================
//keyframes
//===================================================
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

//===================================================
//Keyframes
//===================================================

@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
	

//===================================================
//Body
//===================================================


body{
	background-color: $backgroundColor;
	color: $fontColor;	
	margin: 0px;
	padding: 0px, 0px, 0px;
	padding: 0px;
}

#content{
	padding: 0px 50px 0px;
}





//=========
//Navigation
//=========

//=============
//active button
//=============
.active-button{ 
	li{
		color: $backgroundColor;
	}
}


//========
//page layout
//========
.pages{
	@include center(100%);
	display: none;
}

.active{
	display: inline-block;
	@include animation(fadeIn .5s);
}

#pageOne{
	.nav-buttons{
		@include transition(background-color .5s);
		@include transition(color .5s);
		@include heightWidth(125px, 125px);	
		@extend .buttons;
		position: relative;
		background-color: $backgroundColor;
		color: $fontColor;

		&:hover{
			color: $backgroundColor;
		}
	}
	#about-me{
		@include transition(background-color .5s);
		position: relative;
		top: 70px;
		left: 100px;

		&:hover{
			background-color: $aboutMe!important;;
		}
	}

	#skills{
		@include transition(background-color .5s);
		top: 0px;
		left: 160px;
		margin-bottom: 30px;

		&:hover{
			background-color: $skills!important;;
		}
	}

	#projects{
		@include transition(background-color .5s);
		top: 70px;
		left: 220px;

		&:hover{
			background-color: $projects!important;;
		}
	}


	#fullContent{
		@include heightWidth(700px, 700px);
		margin: 0 auto;
		margin-top: 100px;
	}

	#fullInfo{
		margin: 0 auto;
		@include heightWidth(300px, 300px);
		border: 5px solid white;
		border-radius: 100%;
	}

	#mainInfo{
		@include heightWidth(50px, 200px);	
		margin: 0 auto;
	}



	#profile-pic{
		@include heightWidth(200px, 200px);	
		border-radius: 100%;
		margin: 0 auto;
		display: block;
	}	
	.git-in{
		@include heightWidth(35px, 35px);
		margin: 0 auto;
		display: inline;
	}
	#git{
		margin: 0px 55px 0px 30px;
	}
}

#pageTwo{
	padding-left: 6%;
	width: 100%;
	.skillbox{
		@include heightWidth(150px, 150px);
		@include transition(border-radius .5s);
		@include grayscale(100%);
		border: 5px solid $backgroundColor;
		margin: 1% 6.5% 1%;

		@media all and (max-width: $midScreen){
			margin: 1% 3.5% 1%;
		}

		@media all and (max-width: $smallScreen){
			@include heightWidth(100px, 100px);
			margin: 1% 2% 1%;
		}

		&:hover{
			border-radius: 100%;
			@include grayscale(0%);
		}
	}
}





