
//===================================================
//variables
//===================================================

$fontColor: white;
$backgroundColor: black;

//===================================================
//mixins
//===================================================

@mixin transition($length){
	transition: $length;
	-moz-transition: $length;
	-webkit-transition: $length;
}

@mixin animation($animation){
	animation: $animation;
	-moz-animation: $animation;	
	-webkit-animation: $animation;
}  	

@mixin fadeIn($start-opacity, $finish-opacity){
	from{
		opacity: $start-opacity;
	}
	to{
		opacity: finish-opacity;
	}
}

@mixin heightWidth($width, $height){
	height: $height;
	width: $width;
}

@mixin center($width){
	width: $width;
	margin: 0 auto;
}

//===================================================
//keyframes
//===================================================
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
//===================================================
//extenders
//===================================================

.generalLi{
	list-style: none;
}


.generalUl{
	padding: 0px;
	margin: 0px;
}


//===================================================
//Body
//===================================================


body{
	background-color: $backgroundColor;
	color: $fontColor;	
	margin: 0px;
	padding: 0px, 0px, 0px;
}

//=========	
//buttons
//========
.buttons{
	border: none;
	text-align: center;
}



//=========
//Navbar
//=========
#nav{
	background-color: $backgroundColor;
	width: 100%;
	.nav-buttons{
		@extend .buttons;
		background-color: $backgroundColor;
		height: 20px;
		width: 33.333333%;
		&:hover{
			background-color: $fontColor;
		}

		li{
			color: $fontColor;
			@extend .generalLi;
		}	
		&:hover li{
				color:$backgroundColor;
		}
	}
	ul{		
		@extend .generalUl;
	}
}


//========
//images
//========
.pages{
	display: none;
	padding: 50px 50px 0px;
}
.active{
	display: inline-block;
	@include animation(fadeIn .5s);
}
#pageOne{
	#mainInfo{
		@include center(20%);
	}

	#me{
		@include heightWidth(150px, 150px);
		margin-bottom: 10px;
		display: block;
	}	
	.git-in{
		@include heightWidth(35px, 35px);
		display: inline;
	}
	#git{
		margin: 0px 35px 0px 10px;
	}
}



//==========
//Mixins
//==========

