@import '../scss/mixins';
@import '../scss/extenders';
@import '../scss/variables';

//================================================
//page layout
//================================================

	.pages{
		@include center(100%);
		display: none;
		margin-top: 150px;
	}

	.active{
		display: inline-block;
		@include animation(fadeIn .5s);
	}

	.profile-pic{
		@include heightWidth(200px, 200px);	
		border-radius: 100%;
		margin: 0 auto;
		display: block;
	}	