.generalLi{
	list-style: none;
}


.generalUl{
	padding: 0px;
	margin: 0px;
}

//=========	
//buttons
//========
.circle-buttons{
	border: 5px solid white;
	border-radius: 100%;
	text-align: center;
}

.buttons{
	text-align: center;
	border: 1px solid white;
	border-radius: 5px;
}