@import 'variables';

.generalLi{
	list-style: none;
}


.generalUl{
	padding: 0px;
	margin: 0px;
}

//=========	
//buttons
//========
.circle-buttons{
	border: 5px solid white;
	border-radius: 100%;
	text-align: center;
}

.buttons{
	text-align: center;
	border: 1px solid $secondaryColor;
	border-radius: 5px;
}

.enter-left-to-right {
	animation: leftToRight 1s;
}

.enter-left-to-right {
	animation: RightToLeft 1s;
}