@mixin transition($transition){
	transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
}

@mixin backfaceVisibility( $backface ) {
		-webkit-backface-visibility: $backface;
     	-moz-backface-visibility: $backface;
		-o-backface-visibility:  $backface;
	    backface-visibility: $backface;
}

@mixin transformLine($translateX, $translateY, $rotate){
	transform: 
		translateY($translateY)
        translateX($translateX)
        rotate($rotate);
	
	-moz-transform: 
		translateY($translateY)
        translateX($translateX)
        rotate($rotate);
	
	-webkit-transform: 
		translateY($translateY)
        translateX($translateX)
        rotate($rotate); 
	 
}
@mixin animation($animation){
	animation: $animation;
	-moz-animation: $animation;	
	-webkit-animation: $animation;
	-webkit-animation: $animation;
	
}  	

@mixin transform( $transform ) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin grayscale($grayscale){
	-webkit-filter: grayscale($grayscale);
	filter: grayscale($grayscale);
}


@mixin heightWidth($height, $width){
	height: $height;
	width: $width;
}

@mixin center($width){
	width: $width;
	margin: 0 auto;
}

/*================
	Flex
=================*/

@mixin flexBox() {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex($flexNum: 1) {
	-webkit-box-flex: $flexNum;      
  	-moz-box-flex: $flexNum;         
  	-webkit-flex: $flexNum;      
  	-ms-flex: $flexNum;              
  	flex: $flexNum;                  
}

@mixin flexDirection( $direction: row ) {
	-webkit-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin flexWrap( $wrapping: nowrap ) {
	-webkit-flex-wrap: $wrapping;
	flex-wrap: $wrapping;
}

@mixin justifyContent( $wrapping) {
	-webkit-justify-content: $wrapping;
	justify-content: $wrapping;
}